/* ---------------------- Variables Globales ---------------------- */
:root{
    --primarioColor: #1276fe;
    --whiteColor: #ffffff;
    --btnNeon: #0055ff;
    --errorMessage: #e91916;
    --colorTecsup: rgba(0, 171, 236, 1);
    --textBlue500: #3b82f6;
    --bgHeader: #0f0f0f;
}

* {
  font-family: "Inter", sans-serif;
}

.text-tecsup{
  color: var(--colorTecsup);
}

/* ---------------------- Preloader ---------------------- */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader span {
  font-size: 30px;
  animation: blink 2.5s infinite;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.loader--blue{
  color: #205295;
  padding: 0 5px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

/* ---------------------- Animaciones ---------------------- */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bouncing-image {
  animation: bounce 2s infinite;
}

/* ---------------------- Utilidades Específicas ---------------------- */
.bg-glass{
  border-radius: 24px;
  border: 1px solid var(--whiteColor);  
  background: var(--whiteColor);
  padding: 30px;
}

/* ---------------------- Botones ---------------------- */
.button--submit{
  background-color: rgb(59 130 246);
}

.button--submit:hover{
  background-color: rgb(44, 92, 170);
}

.button--delete{
  background-color: rgb(246, 59, 59);
}

.button--delete:hover{
  background-color: rgb(212, 41, 41);
}

/* ---------------------- Enlaces ---------------------- */
span a{
  text-decoration: none;
  font-weight: 700;
  color: #00a6ff;
  transition: .5s;
}

span a:hover{
  text-decoration: underline;
  color: #0475b3;
}

/* ---------------------- Reset Mínimo ---------------------- */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* ---------------------- Scroll Suave ---------------------- */
html {
  scroll-behavior: smooth;
}